/*
Colour Scheme:
GREY

MAIN COLOR
#099268


TINTS


#087f5b;
#0ca678;
#12b886;
#38d9a9;
#96f2d7;
#e6fcf5;



GREY
#495057;

*/

body {
  color: #495057;
}

/*BUTTONS*/
.btn-primary {
  font-family: "Lato", sans-serif;
  background-color: #3bc9db;
  border: solid 2px #3bc9db;
  color: white;
}

.btn-primary:hover {
  font-family: "Lato", sans-serif;
  background-color: #099268;
  border: solid 2px #099268;
}

.btn-text {
  font-family: "Lato", sans-serif;
  background-color: #099268;
  border: solid 2px #099268;
  color: #fff;
}

.btn-text:hover {
  font-family: "Lato", sans-serif;
  background-color: #087f5b;
  border: solid 2px #087f5b;
  color: #fff;
}

/*SECTIONS*/

/*NAVBAR*/
.navbar-transparent {
  background-color: transparent;
}

.dropdown-menu {
  box-shadow: 10px 20px 4px 10px gray;
}

#navbar {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*HEADER IMAGE*/
.bgimage {
  display: flex;
  width: 100%;
  height: 500px;
  background: linear-gradient(to bottom, transparent, #272727),
    url("./bg-image2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  align-items: end;
}
.bgimage h1 {
  color: white;
  font-family: "Playfair display", Serif;
  font-size: 80px;
}

/*FIRST ROW*/

.firstrow {
  display: flex;
  margin-top: 8em;
  color: #343a40;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.textbox--1 {
}

.macarons {
  width: 400px;
}
.greyscale {
  width: 400px;
  opacity: 0.75;
}

.greyscale:hover {
  flex: 5;
  opacity: 1;

  text-transform: bold;
  font-size: 15px;
}

/*SECOND ROW*/

.donuts {
  width: 600px;
}
