/*
Colour Scheme:
GREY

MAIN COLOR
#3bc9db;

TINTS
#e3fafc
#c5f6fa
#99e9f2
#15aabf;
#1098ad
#0c8599
#0b7285

ACCENT COLOR
#faa2c1
TINTS
#fff0f6
#ffdeeb
#fcc2d7#f783ac
#f783ac
#f06595

GREY
#343a40

*/

* {
  font-family: "Lato", sans-serif;
}

body {
  border-top: 5px solid #3bc9db;
}

i {
  color: white;
  font-size: 20px;
}

footer i:hover {
  color: #faa2c1;
}

/*HEADINGS*/
h1 {
  font-family: "Playfair display", serif;
  color: #343a40;
  font-weight: 500;
  letter-spacing: 0.1em;
}

h1:hover {
  color: #f783ac;
}

.heading2 {
  font-family: "Lato", sans-serif;
  color: #343a40;
  font-size: 20px;
  font-weight: 400;
}

.heading2:hover {
  border-bottom: solid 2px #f783ac;
}

/*BUTTONS*/
.btn-primary {
  font-family: "Lato", sans-serif;
  background-color: #3bc9db;
  border: solid 2px #3bc9db;
  color: white;
  padding: 10px;
  letter-spacing: 0.1em;
}

.btn-primary:hover {
  font-family: "Lato", sans-serif;
  background-color: #15aabf;
  border: solid 2px #15aabf;
}

.btn-text {
  font-family: "Lato", sans-serif;
  background-color: #faa2c1;
  border: solid 2px #faa2c1;
  color: #343a40;
  padding: 10px;
  font-weight: 500;
  letter-spacing: 0.1em;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.grey {
  color: #343a40;
  width: 15px;
  height: 15px;
}

.btn-text:hover {
  font-family: "Lato", sans-serif;
  background-color: #f783ac;
  border: solid 2px #f783ac;
  color: #343a40;
}

/*SECTIONS*/

/*NAVBAR*/

.nav-link {
  font-family: "Lato", sans-serif;
}

.nav-link a:link {
  font-family: "Lato", sans-serif;
  color: #343a40;
  background: transparent;
  font-size: 20px;
  text-decoration: none;
  border: none;
}

/*HEADER IMAGE*/
.bgimage {
  display: flex;
  width: 100%;
  height: 500px;
  background: linear-gradient(to bottom, transparent, #272727),
    url("./background-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  align-items: end;
}
.bgimage h1 {
  color: white;
  font-family: "Playfair display", Serif;
  font-size: 80px;
}

/*FIRST ROW*/

.firstrow {
  display: flex;
  margin-top: 3em;
  margin-bottom: 6em;
  color: #343a40;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.textbox--1 {
  padding-top: 5em;
  flex-shrink: 1;
  flex-grow: 1;
  flex-wrap: wrap;
}
.img-container {
  display: flex;
}

.blue-image {
  flex-basis: 800px;
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 100%;
  flex-wrap: wrap;
  object-fit: contain;
}

.macarons {
  width: 600px;
}

/*SECOND ROW*/

.donuts {
  width: 600px;
}
